@import url('https://fonts.googleapis.com/css?family=Poiret+One|Raleway&display=swap');

:root{
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 16px;

    background-color: #F3F3F3;
    
    margin: 0;
    padding: 0;
    
    --heading-font: 'Poiret One',  cursive;
    --text-font: 'Raleway', sans-serif;
}

h1{
    font-family: var(--heading-font);
    font-size: 4.1rem;
    text-align: center;
}

.circles-container{
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.circle{
    height: 10rem;
    width: 10rem;
    background-color: rgba(213,22,12);
    box-shadow: 0 0.5rem 1.3rem rgba(0, 0, 0, 0.4);
    border-radius: 50%;
    margin: 0.7rem;
}

footer{
    text-align: center;
    font-size: 1.4rem;
    padding-bottom: 4rem;
}

footer>p{
    padding: 1rem;
    margin: 1.5rem;
}

.fas{
    color: rgba(213,22,12);
}

@media screen and (max-width: 780px){
    h1{
        font-size: 3rem;
    }

    .circle{
        height: 6rem;
        width: 6rem;
        background-color: rgba(213,22,12);
        box-shadow:0 0.5rem 1rem rgba(0, 0, 0, 0.3);
        border-radius: 50%;
        margin: 0.5rem;
    }

    footer{
        font-size: 1rem;
    }
}


@media screen and (max-width: 480px){

    h1{
        font-size: 2.5rem;
    }    

    .circle-container{
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .circle{
        height: 3.6rem;
        width: 3.6rem;
        background-color: rgba(213,22,12);
        box-shadow: 0 0.5rem 0.7rem rgba(0, 0, 0, 0.3);
        border-radius: 50%;
        margin: 0.5rem;
    }

    footer{
        font-size: 1rem;
    }
}